body {
  font-family: Roboto;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #aAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  background: steelblue;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

li {
  background: #fff;
  min-height: 40px;
  line-height: 40px;
  color: #222;
  display: flex;
  justify-content: space-between;
}

li:nth-child(2n) {
  background: #eee;
}

input {
  font-size: 18px;
  background-color: #eee;
  width: 100%;
  padding: 13px 13px 13px 16px;
  /*need to add webkits*/
  box-sizing: border-box;
  color: #1111aa;
  border: 3px solid rgba(0, 0, 0, 0);
}

.editInput {
  background-color: inherit;
  font-size: inherit;
  height: 40px;
  width: 320px;
  padding: 0;
  padding-left:16px;
}

input:focus {
  background: #fff;
  border: 3px solid steelblue;
  outline: none;
}

a {
  color: green;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

.deleteButton, .editButton, .confirm {
  background: #e74c3c;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  transition: .2s linear;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton, .confirm {
  float: right;
  margin-right: 0;
  margin-left: auto;
  background: #274c3c;
}

.editButton {
  margin-left: 20px;
}

.confirm {
  background: steelblue;
}

li:hover .deleteButton, li:hover .editButton, li:hover .confirm {
  width: 40px;
  opacity: 1.0;
}

.fa-plus {
  float: right;
}

.completed {
  color: #ccc;
  text-decoration: line-through;
}

.content {
  max-width: 240px;
  margin: auto auto auto 0px;
  text-align: left;
  width: auto;
  overflow-wrap: break-word;
}

.content:hover {
  cursor: pointer;
}

li:hover .content {
  width: auto;
}


#container {
  width: 360px;
  margin: 30px auto 20px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#footer {
  text-align: left;
  position: fixed;
  width: 100%;
  bottom: 10px;
}
